/* variables declared here - these are the colors for our pages, as well as the font stacks and sizes. */
:root {
    /* primary colors */
    --blue: hsl(246, 80%, 60%);
    --ltred: hsl(15, 100%, 70%);   /* work */
    --softblue: hsl(195, 74%, 62%);  /* play */
    --ltred2: hsl(348, 100%, 68%);  /* study */
    --limegreen: hsl(145, 58%, 55%); /* exercise */
    --violet: hsl(264, 64%, 52%);  /* social */
    --softorange: hsl(43, 84%, 65%); /* self care */
    
    /* neutral colors */
    --verydkblue: hsl(226, 43%, 10%);
    --dkblue: hsl(235, 46%, 20%);
    --desatblue: hsl(235, 45%, 61%);
    --desatblue2: hsl(235, 41%, 34%);
    --paleblue: hsl(236, 100%, 87%);
    --font-size: 18px;
    --rubik: "Rubik", Helvetica, sans-serif;
}
/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: var(--rubik);
    background-color: var(--verydkblue);
    font-size: var(--font-size);
    margin: 1rem;
    color: white;
}
main {
    margin: 176px auto;
    width: 775px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "person workbg playbg studybg"
        "person work play study"
        ". exercisebg socialbg selfbg"
        "menu exercise social self";
    justify-items: center;
    gap: 20px;
}
h3 {
    font-size: 12px;
    color: white;
    margin: 0;
    padding: 0;
    font-weight: normal;
}
.big {
    font-size: 40px;
    color: white;
    margin: 16px 0 0 0;
    padding: 0;
    font-weight: 300;
}
.small {
    font-size: 11px;
    color: var(--paleblue);
    margin: 5px 0 0 0;
    padding: 0;
    font-weight: 400;
}
.person {
    background-color: var(--blue);
    border-radius: 10px;
    padding: 20px;
    grid-area: person;
    width: 178px;
    margin-bottom: -66px;
}
.person img {
    max-width: 60px;
    max-height: 60px;
    border-radius: 50%;
    border-color: white;
    border-width: 2px;
    border-style: solid;
}
.person p {
    margin: 28px 0 0 0;
    padding: 0;
    font-size: 60%;
    color: var(--paleblue);
}
.person h1 {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
.work-bg {
    grid-area: workbg;
    background: var(--ltred) url(/images/icon-work.svg) no-repeat right top;      
    border-radius: 10px;
    height: 140px;
    width: 178px;
    margin: 0;
    padding: 0;
}
.play-bg {
    grid-area: playbg;
    background: var(--softblue) url(/images/icon-play.svg) no-repeat right top;      
    border-radius: 10px;
    height: 140px;
    width: 178px;
    margin: 0;
    padding: 0;
}
.study-bg {
    grid-area: studybg;
    background: var(--ltred2) url(/images/icon-study.svg) no-repeat right top;          
    border-radius: 10px;
    height: 140px;
    width: 178px;
    margin: 0;
    padding: 0;
}
.menu {
    background-color: var(--dkblue);    
    padding: 5px;
    grid-area: menu;
    width: 178px;
    height: 140px;
    border-radius: 10px;
    margin-top: -130px;
}
.menu ul {
    margin: 10px;
    padding: 0;
    list-style: none;
}
.menu ul li {
    margin: 20px 10px 0 10px;
    padding: 0;
    font-size: 70%;
    color: var(--desatblue);
}
.menu ul li:first-child {
    margin-top: 30px;
}
.menu ul li:hover {
    color: white;
}
.menu ul li.selected {
    color: white;
}
.work {
    background-color: var(--dkblue);
    border-radius: 10px;
    grid-area: work;
    height: 140px;
    width: 178px;
    padding: 20px;
    margin-top: -130px;
}
.work:hover {
    background-color: var(--desatblue2);
}
.work img {
    float: right;
    margin-top: -8px;
    padding: 0;
    max-width: 14px;
}
.play {
    background-color: var(--dkblue);
    border-radius: 10px;    
    grid-area: play;
    height: 140px;
    width: 178px;
    padding: 20px;    
    margin-top: -130px;    
}
.play:hover {
    background-color: var(--desatblue2);
}
.play img {
    float: right;
    margin-top: -8px;
    padding: 0;
    max-width: 14px;
}
.study {
    background-color: var(--dkblue);
    border-radius: 10px;    
    grid-area: study;
    height: 140px;
    width: 178px;
    padding: 20px;    
    margin-top: -130px;    
}
.study:hover {
    background-color: var(--desatblue2);
}
.study img {
    float: right;
    margin-top: -8px;
    padding: 0;
    max-width: 14px;
}
.exercise-bg {
    grid-area: exercisebg;
    background: var(--limegreen) url(/images/icon-exercise.svg) no-repeat right top;      
    border-radius: 10px;
    height: 140px;
    width: 178px;
    margin: 0;
    padding: 0;
}
.social-bg {
    grid-area: socialbg;
    background: var(--violet) url(/images/icon-social.svg) no-repeat right top;      
    border-radius: 10px;
    height: 140px;
    width: 178px;
    margin: 0;
    padding: 0;
}
.self-bg {
    grid-area: selfbg;
    background: var(--softorange) url(/images/icon-self-care.svg) no-repeat right top;          
    border-radius: 10px;
    height: 140px;
    width: 178px;
    margin: 0;
    padding: 0;
}
.exercise {
    background-color: var(--dkblue);
    border-radius: 10px;
    grid-area: exercise;
    height: 140px;
    width: 178px;
    padding: 20px;
    margin-top: -130px;
}
.exercise:hover {
    background-color: var(--desatblue2);
}
.exercise img {
    float: right;
    margin-top: -8px;
    padding: 0;
    max-width: 14px;
}
.social {
    background-color: var(--dkblue);
    border-radius: 10px;    
    grid-area: social;
    height: 140px;
    width: 178px;
    padding: 20px;    
    margin-top: -130px;    
}
.social:hover {
    background-color: var(--desatblue2);
}
.social img {
    float: right;
    margin-top: -8px;
    padding: 0;
    max-width: 14px;
}
.self {
    background-color: var(--dkblue);
    border-radius: 10px;    
    grid-area: self;
    height: 140px;
    width: 178px;
    padding: 20px;    
    margin-top: -130px;    
}
.self:hover {
    background-color: var(--desatblue2);
}
.self img {
    float: right;
    margin-top: -8px;
    padding: 0;
    max-width: 14px;
}
.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}