/* variables declared here - these are the colors for our pages, as well as the font stacks and sizes. */
:root {
    /* primary colors */
    --blue: hsl(246, 80%, 60%);
    --ltred: hsl(15, 100%, 70%);   /* work */
    --softblue: hsl(195, 74%, 62%);  /* play */
    --ltred2: hsl(348, 100%, 68%);  /* study */
    --limegreen: hsl(145, 58%, 55%); /* exercise */
    --violet: hsl(264, 64%, 52%);  /* social */
    --softorange: hsl(43, 84%, 65%); /* self care */
    
    /* neutral colors */
    --verydkblue: hsl(226, 43%, 10%);
    --dkblue: hsl(235, 46%, 20%);
    --desatblue: hsl(235, 45%, 61%);
    --desatblue2: hsl(235, 41%, 34%);
    --paleblue: hsl(236, 100%, 87%);
    --rubik: "Rubik", Helvetica, sans-serif;
}
/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: var(--rubik);
    background-color: var(--verydkblue);
    margin: 1rem;
    color: white;
}
main {
    margin: 176px auto;
    width: 775px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "person work play study"
        "person exercise social self";
    justify-items: center;
    column-gap: 20px;
    row-gap: 30px;
}
h3 {
    font-size: 0.75rem;
    color: white;
    margin: 0;
    padding: 0;
    font-weight: normal;
}
.big {
    font-size: 2.5rem;
    color: white;
    margin: 16px 0 0 0;
    padding: 0;
    font-weight: 300;
}
.small {
    font-size: 0.7rem;
    color: var(--paleblue);
    margin: 5px 0 0 0;
    padding: 0;
    font-weight: 400;
}
/* hide data not currently selected */
.hide {
    position: absolute;
    left: -999px;
}
.person {
    background-color: var(--dkblue);
    border-radius: 10px;
    grid-area: person;
    width: 178px;
}
.person div {
    background-color: var(--blue);
    width: 100%;
    padding: 20px 20px 40px 20px;
    border-radius: 10px;
}
.person img {
    max-width: 60px;
    max-height: 60px;
    border-radius: 50%;
    border-color: white;
    border-width: 2px;
    border-style: solid;
}
.person p {
    margin: 28px 0 0 0;
    padding: 0;
    font-size: 0.6rem;
    color: var(--paleblue);
}
.person h1 {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
.person nav {   
    width: 178px;
}
.person nav ul {
    margin: 10px 10px 30px 10px;
    padding: 0;
    list-style: none;
}
.person nav ul li {
    margin: 20px 10px 0 10px;
    padding: 0;
    font-size: 0.7rem;
    color: var(--desatblue);
}
.person nav ul li:first-child {
    margin-top: 30px;
}
.person nav ul li:hover {
    color: white;
    cursor: pointer;
}
.person nav ul li.selected {
    color: white;
}
.work {
    grid-area: work;
    background: var(--ltred) url(/images/icon-work.svg) no-repeat right top;      
    border-radius: 10px;
    height: 140px;
    width: 178px;
    margin: 0;
    padding-top: 30px;
}
.work div {
    background-color: var(--dkblue);
    border-radius: 10px;
    height: 140px;
    width: 178px;
    padding: 20px;
}
.work div:hover {
    background-color: var(--desatblue2);
    cursor: pointer;
}
.work img {
    float: right;
    margin-top: -8px;
    padding: 0;
    max-width: 14px;
}
.play {
    grid-area: play;
    background: var(--softblue) url(/images/icon-play.svg) no-repeat right top;      
    border-radius: 10px;
    height: 140px;
    width: 178px;
    margin: 0;
    padding-top: 30px;
}
.play div {
    background-color: var(--dkblue);
    border-radius: 10px;    
    height: 140px;
    width: 178px;
    padding: 20px;    
}
.play div:hover {
    background-color: var(--desatblue2);
    cursor: pointer;
}
.play img {
    float: right;
    margin-top: -8px;
    padding: 0;
    max-width: 14px;
}
.study {
    grid-area: study;
    background: var(--ltred2) url(/images/icon-study.svg) no-repeat right top;          
    border-radius: 10px;
    height: 140px;
    width: 178px;
    margin: 0;
    padding-top: 30px;
}
.study div {
    background-color: var(--dkblue);
    border-radius: 10px;    
    height: 140px;
    width: 178px;
    padding: 20px;    
}
.study div:hover {
    background-color: var(--desatblue2);
    cursor: pointer;
}
.study img {
    float: right;
    margin-top: -8px;
    padding: 0;
    max-width: 14px;
}
.exercise {
    grid-area: exercise;
    background: var(--limegreen) url(/images/icon-exercise.svg) no-repeat right top;      
    border-radius: 10px;
    height: 140px;
    width: 178px;
    margin: 0;
    padding-top: 30px;
}
.exercise div {
    background-color: var(--dkblue);
    border-radius: 10px;
    height: 140px;
    width: 178px;
    padding: 20px;
}
.exercise div:hover {
    background-color: var(--desatblue2);
    cursor: pointer;
}
.exercise img {
    float: right;
    margin-top: -8px;
    padding: 0;
    max-width: 14px;
}
.social {
    grid-area: social;
    background: var(--violet) url(/images/icon-social.svg) no-repeat right top;      
    border-radius: 10px;
    height: 140px;
    width: 178px;
    margin: 0;
    padding-top: 30px;
}
.social div {
    background-color: var(--dkblue);
    border-radius: 10px;    
    height: 140px;
    width: 178px;
    padding: 20px;     
}
.social div:hover {
    background-color: var(--desatblue2);
    cursor: pointer;
}
.social img {
    float: right;
    margin-top: -8px;
    padding: 0;
    max-width: 14px;
}
.self {
    grid-area: self;
    background: var(--softorange) url(/images/icon-self-care.svg) no-repeat right top;          
    border-radius: 10px;
    height: 140px;
    width: 178px;
    margin: 0;
    padding-top: 30px;
}
.self div {
    background-color: var(--dkblue);
    border-radius: 10px;    
    height: 140px;
    width: 178px;
    padding: 20px;      
}
.self div:hover {
    background-color: var(--desatblue2);
    cursor: pointer;
}
.self img {
    float: right;
    margin-top: -8px;
    padding: 0;
    max-width: 14px;
}
.attribution {
    font-size: .7rem;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}